/* ImageComparison.module.css */
.imageComparison {
    width: 100%;
    overflow: hidden;
  }
  
  .imageContainer {
    position: relative;
    width: 100%;
  }
  
  .beforeImage,
  .afterImage {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  
  .afterImageContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .slider {
    position: absolute;
    z-index: 1;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    height: 100%;
    cursor: ew-resize;
  }
  
  /* Add any additional styling as needed */
  