/* Features.module.css */

.features {
  background-color: #f8f8f8;
  color: #333;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.textContainer {
  max-width: 800px;
  margin-right: 20px; /* Add margin to the right to create space */
}

.featureGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature {
  width: calc(50% - 20px); /* 50% width with 10px spacing between features */
  margin-bottom: 20px;
}

.imageComparisonContainer {
  max-width: 550px; /* Max width for larger screens */
  width: 100%; /* Ensure it takes up the full width of its parent container */
  margin-right: 60px; /* Maintain right margin for spacing */
  flex: 1; /* Allow the container to grow and shrink */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  min-width: 300px; /* Set a minimum width */
}

@media screen and (max-width: 768px) {
  .imageComparisonContainer {
    max-width: 100%; /* Allow full width on smaller screens */
    margin-right: 0; /* Remove right margin on smaller screens */
    margin-top: 20px; /* Adjust top margin for spacing */
    margin-bottom: 20px; /* Adjust top margin for spacing */
    min-width: 250px; /* Adjust min-width for very small devices */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 
    0 6px 12px rgba(0, 0, 0, 0.3);
  }
}
