.footer {
  position: relative;
  bottom: 0;
  left: 0;
  background-color: hsl(0, 0%, 19%);
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.termsLink, .rssFeed a {
  color: #ffffff; /* A bright, but not too harsh, color for visibility */
  text-decoration: none;
  transition: color 0.3s ease, opacity 0.3s ease; /* Smooth transition for hover effects */
}

.madeWith {
  display: flex;
  align-items: center;
}

.termsLink:hover, .rssFeed a:hover {
  text-decoration: underline;
}

body {
  position: relative;
  overflow-x: hidden; /* Prevent horizontal overflow */
}