.galleryThumbnails {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  gap: 10px;
  padding: 20px 0; /* Adjust padding as needed */
  justify-content: flex-start; /* Default to left alignment */
}

.thumbnail {
  flex: 0 0 auto; /* Do not grow or shrink */
  width: 80vw; /* Adjust width as needed */
  max-width: 300px; /* Maximum width for thumbnails */
  height: auto; /* Height to maintain aspect ratio */
  cursor: pointer;
  object-fit: cover;
  border-radius: 4px;
  scroll-snap-align: start;
  transition: transform 0.5s ease-out, box-shadow 0.5s ease-out; /* Extend duration and use 'ease-out' for a smooth end */
}

.thumbnail:hover, .thumbnail:focus {
  transform: scale(1.05); /* Slightly reduce the growth to make it more subtle */
}
.fullScreenModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 40px;
  box-sizing: border-box;
  overflow: auto;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s; /* Hide visibility transition when fading out */
  
}

.fullScreenModal.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease; /* Immediate visibility transition when fading in */
}

.modalContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.imageContainer {
  position: relative;
  display: inline-flex;
  align-items: center;
  transition: opacity 0.3s ease; /* Smooth transition for the opacity change */
}

.fullScreenImage {
  display: block;
  max-width: calc(100vw - 80px);
  max-height: calc(100vh - 80px);
  width: auto;
  height: auto;
  object-fit: contain;
  /* Ensure there's no transition set here that could conflict with the inline styles */
}

.prevButton, .nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: rgb(0, 0, 0); /* IF the button can be pressed it should be black */
  background: none;
  border: none;
  cursor: pointer;
}

.prevButton {
  left: 0;
}

.nextButton {
  right: 0;
}

.prevButton:disabled, .nextButton:disabled {
  color: grey;
}

@media screen and (max-width: 768px) {
  .galleryThumbnails {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }
  
  .thumbnail {
    width: 90vw;
    max-width: 250px;
    margin-bottom: 10px;
  }

  .fullScreenModal {
    padding: 20px;
    
  }

  .modalContent {
    flex-direction: column;
    max-width: calc(100vw - 40px);
    max-height: calc(100vh - 40px);
  }

  .prevButton, .nextButton {
    font-size: 24px;
  }
}